*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;

  min-height: 100vh;
  width: 100vw;

  color: white;

  text-align: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header,
.bottomNav{
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header nav,
.bottomNav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1200px; */
  padding: 0px 20px;
}

.header img{
  height: 9vh;
  width: 100;
  
}

.logOutButton{
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}

a:link{color:white}
a:active{color:white}
a:visited{color:white}
a:hover{
  color:white;
  cursor: pointer;
}

.pageSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;

  padding: 5vh 30px 10vh 30px;
}

.authenticationContainer{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: black;
  border: 2px solid white;
  border-radius: 15px;

  padding: 20px;
}

.flex-column,
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

form>button {
  background-color: black;
  border: 2px white solid;
  color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

input{
  padding: 10px;
  border-radius: 25px;
}


/* //ITEMS CARD */
.itemsContainer{
  /* min-height: 300px;
  min-width: 300px;
  background-color: #111;
  border: white 2px solid;
  border-radius: 15px; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 15px;
}

.item-card{
  cursor: pointer;

  height: max-content;
  /* width: 200px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  gap: 10px;

  /* padding: 20px; */

  /* background-color: #111;
  border: white 2px solid; */
  padding: 20px;
  border-radius: 15px;
  
}

.item-card:hover{
  background-color: rgba(240, 248, 255, 0.08);
}

.item-card>img{
  height: 150px;
  width: 150px;
  border-radius: 15px;

  object-fit: cover;
  object-position: center;
}

.bottomNav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.bottom-nav-btn>.icon{
  height: 5vh;
  width: 5vh;
  padding: 0;
}

.bottom-nav-btn{
  height: 10vh;
  min-width: 10vh;
  line-height: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-radius: 5px; */
  font-size: 0.6rem;

  font-weight: bold;
  padding: 5px;
}

.bottom-nav-btn:hover{
  background-color: #111;
}

.add-to-cart-btn{
  background-color: #111;
  border: 2px white solid;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.add-to-cart-btn:hover{
  background-color: #222;
  color: rgb(255, 197, 97);
  border-color: rgb(255, 197, 97);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
